div {
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}

#b1 {
    /* position: static;  it never change the position */
    position: relative;
    z-index: 1;
    background-color: red;
}

#b2 {
    position: relative; 
    top: 20px;
    left: -50px;
    background-color: blue;
}

#b3 {
    position: sticky;
    top: 0;
    left: 700px;
    background-color: green;
}

#b4 {
    position: fixed;
    top: 0;
    display: block;
}